.login-container{
    position: relative;
    max-height: 900px;
    display: flex;
    box-shadow: 2px 2px 4px gray;
    justify-content: space-between;
}
.login-container img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 21px;
}
.login-main{
    padding-top: 150px;
    padding-left: 122px;
    padding-right: 130px ;
    padding-bottom: 120px;
}
.input-login{
    width: 429px;
    height: 64px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
.login-button{
    width: 429px;
    height: 64px;
    background: #EB5148;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
}
.login-button:hover{
    background: none;
    border: 2px solid #EB5148;
    color: #EB5148;
}

.image-login img{
    width:38rem ;
    height: 100%;
}
.eye{
    position: absolute;
    transform: translateY(20px);
    cursor: pointer;
}
@media screen and (max-width:990px) {
    .login-container{
        min-height: 700px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-bottom: 20rem;
    }
    .login-container img{
       
    }
    .login-main{
        padding-top: 0;
        padding-left: 0;
        padding-right: 0 ;
        padding-bottom: 0;
    }
    .input-login{
        width: 200px;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid black;
    }
    .login-button{
        width: 100px;
        height: 40px;
        background: #EB5148;
        box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: none;
        color: white;
        font-weight: 900;
        letter-spacing: 1px;
    }
    .image-login img{
        display: none;
    }
    .eye{
        transform: translateY(0);
    }
}