.text{
    position: absolute;
    top: 101px;
    left: 91px;
}
.text button{
    width: 125px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 5px;
}


@media screen and (max-width:990px) {
    .text {
        top: 50px;
        left: 40px;
        font-size: 10px;
    }
    .text button{
        width: 100px;
        height: 25px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    
}
@media screen and (max-width:600px) {
    .text {
        top: 0px;
        left: 10px;
        font-size: 10px;
    }
    .text button{
        width: 100px;
        height: 25px;
        background: #FFFFFF;
        border-radius: 5px;
    }
    
}