.picture{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
}
.picture div:nth-child(2){
    margin-top: 3rem;
}   
.picture div:nth-child(4 ){
    margin-top: 3rem;
}   


@media screen and (max-width:990px){
    .picture{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .picture div:nth-child(2){
        margin-top: 0;
    }   
    .picture div:nth-child(4 ){
        margin-top: 0;
    }   
    
}